<?xml version="1.0" encoding="utf-8"?>
<content id="BaCCH" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" version="0001" date="2013-11-22">
  <text language="07" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="33" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="34" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="39" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="44" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="49" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
  <text language="86" name="Better and more Complex Cockpit and HUD" description="Enhance the cockpit and the HUD" author="Modders Community" />
</content>